.grid-container {
    display: grid;
    margin: 0 auto;
    padding: 2rem;
    background-color: $clr-neutral-100;
    border-radius: 25px;
    max-width: 30rem;
    
    @media screen and (width > $breakpoint-medium) {
        grid-template-columns: 1fr 1fr;
        max-width: 57.5rem;
        column-gap: 3rem;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem 1rem;
        margin: 1rem 0 2rem 0;
        padding: 0;

        @media screen and (width > $breakpoint-medium) {
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 57.5rem;
            margin-bottom: 2.5rem;
        }

    }   
}

.grid-child-1 {

    label, 
    p {
        display: block;
        margin-bottom: 6px;
        color: $clr-neutral-700;
    }
    input {
        width: 100%;
        margin-bottom: 2rem;
        padding: 0.375rem 1rem 0.375rem 1rem;
        appearance: textfield;
        background-image: url('/images/icon-dollar.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        border: none;
        border-radius: 5px;
        background-color: $clr-neutral-200;
        color: $clr-neutral-900;
        font-size: 1.5rem;
        text-align: end;

        &:nth-of-type(2) {
            background-image: url(/images/icon-person.svg);
        }

        @media screen and (width > $breakpoint-medium) {
            &:nth-of-type(1) {
                margin-bottom: 2.5rem;
            }
            
            &:nth-of-type(2) {
                margin-bottom: 1rem;
            }
        }
        
    }

    @media screen and (width > $breakpoint-medium) {
        padding: 1rem 0 0 1rem;
    }
}


.grid-child-2 {
    padding: 2.25rem 1.375rem 1.5rem 1.5rem;
    border-radius: 15px;
    background-color: $clr-neutral-900;

    p {
        color: $clr-neutral-100;
    }

    small {
        color: $clr-neutral-600;
    }

    .total {  
        font-size: 2rem;
        color: $clr-primary;

        @media screen and (width > $breakpoint-medium) {
            font-size: 3rem;
            
        }
    };

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-of-type {
            margin-bottom: 1.5rem;
        }
    }

    @media screen and (width > $breakpoint-medium) {
        padding:  3.5rem 2.5rem 2.5rem 2.5rem;
        
    }
}