:root {
    --clr-primary: hsl(25, 97%, 53%);
    --clr-neutral-900: hsl(216, 12%, 8%);
    --clr-neutral-800: hsl(213, 19%, 18%);
    --clr-neutral-400: hsl(216, 12%, 54%);
    --clr-neutral-300: hsl(217, 12%, 63%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --ff-base: 'Overpass', sans-serif;
    --fs-base: 0.875rem;
    --fw-regular: 400;
    --fw-bold: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: var(--clr-neutral-300);
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    padding: 0 1.5rem 0 1.5rem;
}

.rating__card,
.submit__screen {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 15px;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    max-width: 416px;

}

.star-icon {
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: var(--clr-neutral-800);
}

h2 {
    color: var(--clr-neutral-100);
}

p {
    margin: 1rem 0 1.5rem 0;
    line-height: 1.375rem;  
}

.button__container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.button__rate{
    cursor: pointer;
    background-color: var(--clr-neutral-800);
    border: none;
    border-radius: 50%;
    color: var(--clr-neutral-400);
    font-weight: var(--fw-bold);
    text-align: center;
    width: 42px;
    height: 42px;
}

.button__rate:hover {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
}

.button__rate:focus {
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
}


.button__submit {
    cursor: pointer;
    background-color: var(--clr-primary);
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 22.5px;
    color: var(--clr-neutral-100);
    width: 280px;
    padding: 0.75rem 0 0.9735rem 0;
    margin-top: 1.5rem;
    letter-spacing: 1.87px;
}

.button__submit:hover,
.button__submit:focus {
    background-color: var(--clr-neutral-100);
    color: var(--clr-primary);
}

.submit__screen {
    text-align: center;
}

.submit__rate {
    display: inline-block;
    color: var(--clr-primary);
    background-color: var(--clr-neutral-800);
    border-radius: 22.5px;
    padding: 0.3125rem 0.75rem ;
    margin: 1.5rem auto ;
   
}

#rate {
    color: yellow;
}

.disabled {
    display: none;
}

.enabled {
    display: initial;
}