/* --clr-primary-gradient: (hsla(249, 99%, 64%, 1), hsla(278, 94%, 30%, 1)); */
$clr-error: hsl(0, 100%, 66%);
$clr-success: hsl(249, 99%, 64%);
$clr-secondary-100: hsl(0, 0%, 100%);
$clr-secondary-200: hsl(270, 3%, 87%);
$clr-secondary-400: hsl(279, 6%, 55%);
$clr-secondary-900: hsl(278, 68%, 11%);
