body {
    background-color:#C5E4E7;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

.logo {
    display: block;
    margin: 3.125rem auto 2.5rem;

    @media screen and (width > $breakpoint-medium){
        margin: 10rem auto 5.5rem;
    }
}

small {
    font-size: 13px;
}

