/*CSS reset*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    /* display: block; */
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*CSS variables*/

:root {
    --clr-primary-800: hsl(300, 43%, 22%);
    --clr-primary-400: hsl(333, 80%, 67%);
    --clr-secondary-300: hsl(303, 10%, 53%);
    --clr-secondary-200: hsl(300, 24%, 96%);
    --clr-secondary-100: hsl(0, 0%, 100%);
    --ff-base: 'League Spartan', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/*General styling*/
body {
    color: var(--clr-secondary-100);
    font-family: var(--ff-base);
    text-align: center;
}


.grid__container {
    width: 86%;
    max-width: 40rem;
    margin: 5.125rem auto 0 auto;
}

h2 {
    color: #512051;
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    line-height: 2rem;
    letter-spacing: -0.08931rem;
    margin-bottom: 1.06rem;
}

.grid__child-a>p {
    color: #927B91;
    font-size: 1.1875rem;
    font-weight: var(--fw-medium);
    line-height: 1.5625rem;
    letter-spacing: -0.03956rem;
    margin-bottom: 2.44rem;
}

.rating-card {
    border-radius: 0.5rem;
    background: var(--clr-secondary-200);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.rating-card>div {
    color: #512051;
    font-size: 1.0625rem;
    font-weight: var(--fw-bold);
    margin-top: 0.95rem;
}

.buyer-card {
    border-radius: 0.5rem;
    background: var(--clr-primary-800);
    color: var(--clr-secondary-100);
    font-size: 1.0625rem;
    font-weight: var(--fw-medium);
    text-align: left;
    line-height: 1.375rem;
    letter-spacing: -0.019rem;
    padding: 2.69rem 2rem 2.19rem 2rem;
    margin-top: 1rem;
}

.grid__child-c {
    margin-top: 3.06rem;
}

.buyer-card img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 1.44rem;
}

.buyer__name {
    font-weight: var(--fw-bold);
}

.buyer__verified {
    color: var(--clr-primary-400);
    font-weight: var(--fw-regular);
}

.buyer-card p {
    margin-top: 1.44rem;
}

.flex {
    display: flex;
    align-items: center;
}

/*Desktop version*/

@media only screen and (min-width: 90rem) {

    .grid__container {
        display: grid;
        grid-template-areas:
            "a a a b b b"
            "c c d d e e";
        /* row-gap: 6.4rem; */
        row-gap: 5em;
        width: 76%;
        max-width: none;
        margin: 7.38rem auto 0 auto;
    }

    .grid__child-a {
        grid-area: a;
        text-align: left;
        width: 70%;
    }

    .grid__child-a>p {
        margin-bottom: 0;
    }

    .grid__child-b {
        grid-area: b;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid__child-c {
        grid-area: c;
        margin-top: 0rem;
        position: relative;
        bottom: 2rem;
        padding-right: 1rem;
    }

    .grid__child-d {
        grid-area: d;
        margin-top: 0rem;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        position: relative;
        bottom: 1rem;
    }

    .grid__child-e {
        grid-area: e;
        margin-top: 0rem;
    }

    h2 {
        font-size: 3.5rem;
        color: #512051;
        line-height: 3rem;
        letter-spacing: -0.125rem;
    }

    .rating-card {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 1.25rem 0 1.25rem 2rem;
        width: 85%;
    }

    .rating-card div {
        margin: 0;
    }

    .rating-card:nth-of-type(1){
        margin-top: 1.7rem;
        align-self: flex-start;
    }

    .rating-card:nth-of-type(3){
        align-self: flex-end;
    }
}