.cards {
    padding: 2rem 1rem 0 1rem;
    background-image: url('/images/bg-main-mobile.png');
}

.card-front,
.card-back {
    max-width: 75%;
    border-radius: 6px;
}

.card-front {
    

    background-image: url('/images/bg-card-front.png');
    color: $clr-secondary-200;
    padding: 1.1rem 1.31rem 1.29rem 1.31rem;
}

#cardholder-name,
#card-number {
    display: block;
    width: 100%;
}