.form {
    padding: 0 1.5rem 0 1.5rem;

    .flex-container {
        @include flex;
    }

    input {
        padding: 0.6875rem 0 0.6875rem 1rem;
        margin-bottom: 0.75rem;
        border-radius: 8px;
        border: 1px solid $clr-secondary-200;
    

        color: $clr-secondary-400;
    }

    #card-expire {
       input {
            max-width: 45%;
            display: inline;
        }
    }


    label {
        font-size: 0.75rem;
        letter-spacing: 2px;
    }

    button {
        @include button;
    }
}