button {
    border: none;
    border-radius: 5px;
}

.grid-child-1 button {
    // position: relative;
    // width: 2.875rem;
    color: $clr-neutral-100;
    background-color: $clr-neutral-900;
    font-size: 1.5rem;

    &:last-of-type{
        color: $clr-neutral-600;
        background-color: $clr-neutral-200;
    }
}

.grid-child-2 button {
    width: 100%;
    padding: 8px 0 8px 0;
    margin-top: 2.25rem;
    color: $clr-neutral-900;
    background-color: $clr-primary;
}